# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ENV/
.env

# uv
.uv/

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store

# FEC ingest local results
fec/

# States ingest local results
/states/

.pytest_cache
